<section id="contact">
    <!-- <img class="shadow" src="./assets/img/background/purple-shadow-contact.png" alt="purple-shadow"> -->
    <div class="header" data-aos="fade-right" data-aos-delay="800">
        <div class="headline">
            <div class="dividing-line-left"></div>
            <h2>Contact</h2>
        </div>
    </div>
    <div class="content">
        <div class="got-a-problem" data-aos="fade-right" data-aos-delay="800">
            <div class="subheadline">
                <div class="dividing-line-subhead"></div>
                <h3>Got a problem to solve?</h3>
            </div>
            <div class="text">
                <p>
                    Contact me through this form, I am interested in hearing
                    <br> from you, knowing your ideas and contributing to your
                    <br> projects with my work.
                </p>
                <p>
                    Need a Frontend developer? <span>Contact me!</span>
                </p>
            </div>
        </div>
        <div class="contact-me" data-aos="fade-left" data-aos-delay="800">
            <form novalidate (ngSubmit)="onSubmit($event)">
                <div>
                    <input (input)="checkValidName()" (focusout)="checkValueName()" #name [ngClass]="{'invalid-input': isNameInvalid, 'valid-input': isNameValid}" id="name" name="name" type="text" autocomplete="off" required placeholder="Your name ...">
                    <span class="span-input" [ngClass]="{'invalid': isNameInvalid}">Your name is required</span>
                </div>
                <div>
                    <input (input)="checkValidMail()" (focusout)="checkValueMail()" #email [ngClass]="{'invalid-input': isMailInvalid, 'valid-input': isMailValid}" id="email" name="email" type="email" pattern="^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$" autocomplete="off" required placeholder="Your email ...">
                    <span class="span-input" [ngClass]="{'invalid': isMailInvalid}">Your email in the correct format is required</span>
                </div>
                <div>
                    <textarea (input)="checkValidMessage()" (focusout)="checkValueMessage()" #message [ngClass]="{'invalid-input': isMessageInvalid, 'valid-input': isMessageValid}" id="message" cols="30" rows="10" name="message" type="email" required placeholder="Your message ..."></textarea>
                    <span class="span-input" [ngClass]="{'invalid': isMessageInvalid}">Your message is empty</span>
                </div>
                <div class="terms">
                    <div class="checkbox">
                        <input (click)="toggleCheckbox()" [ngClass]="{'checked': isCheckboxChecked}" #checkbox type="checkbox" name="checkbox" required>
                        <span class="policy">I've read the <a href="privacy-policy">privacy policy</a> and agree to the processing of my data as outlined.</span>
                    </div>
                    <div class="btn">
                        <input type="submit" value="Send message" class="btn-submit" [disabled]="!isFormValid">
                        <div class="go-up-btn" (click)="goToTop()"></div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="overlay" [ngClass]="{'visible': isVisible}" *ngIf="isMailSent"></div>
    <div class="confirmation-message" [ngClass]="{'visible': isVisible}" *ngIf="isMailSent">
        <p>Your message has been sent successfully!</p>
    </div>
    <div class="mobile-up-btn" (click)="goToTop()"></div>
</section>