section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    max-width: 1920px;
    height: calc(100vh - 109px);
    position: relative;
}

.background-splash-atf {
    position: absolute;
    left: auto;
    right: auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.introducing-area {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;

    .slogan-area {
        position: relative;
        // display: flex;
        // flex-direction: column;
        // justify-content: center;
        // align-items: center;
        z-index: 1;
        
        .slogan {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 172px;
    
            .i-am {
                transform: rotate(-90deg);
                font-size: 88px;
                line-height: 108px;
                width: 208px;
                height: 83px;
                white-space: nowrap;

                @media (max-width: 1350px) {
                    
                }

            }
    
            .name-profession {
                display: flex;
                flex-direction: column;
                justify-content: center;
        
                .name {
                    font-size: 128px;
                    line-height: 153.6px;
                    font-weight: 700;
                    white-space: nowrap;

                    @media (max-width: 1350px) {
                        
                    }
                }
                
                .profession {
                    font-size: 64px;
                    line-height: 76.8px;
                    text-transform: uppercase;
                    color: #9747FF;

                    @media (max-width: 1350px) {
                        
                    }
                }
            }
        }

        .talk-btn {
            position: absolute;
            left: 50%;
            right: 50%;
            top: 250px;
            transform: translate(-50%, -50%);
            // margin-top: 72px;
            width: 165px;
            height: 58px;
            border-radius: 10px;
            padding: 15px 30px;
            font-size: 23px;
            background-color: #70E61C;
            color: #fff;
            white-space: nowrap;
            text-align: center;
            display: flex;
            align-items: center;
            cursor: pointer;
            border-style: none;
            transition: transform 100ms ease-out, background-color 100ms ease-out;
            transform-origin: top left;

            &:hover {
                transform: scale(1.16), translate(-50%, -50%); // hier weitermachen, sodass der Button beim hovern vergrößert wird!
                background-color: #9747FF;
            }
        }
    }
}

.bottom-section {
    width: 100%;

    .social-section {
        position: absolute;
        bottom: 40px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 566px;
    
        .dividing-line {
            height: 4px;
            width: 100px;
            background-color: #70E61C;
            border-radius: 0 4px 4px 0;
            margin-right: 32px;
            margin-bottom: 7px;
        }
    
        .social-media {
            display: flex;
            color: #fff;
            font-size: 23px;
            .social-media-buttons {
                > a {
                    margin-right: 32px;
                }
            }

            .mail {
                transition: 0.3s;
                &:hover {
                    cursor: pointer;
                    color: #70E61C;
                }
            }
        }
    }
    
    .scroll-down {
        position: absolute;
        bottom: 49px;
        right: 100px;
        cursor: pointer;
    }
}