<section>
    <div class="profile">
        <img class="background-shadows" src="assets/img/atf/background-gradients.png">
        <img class="profile-pic" src="assets/img/atf/profile-pic.png" alt="picture of me">
    </div>
    <div class="slogan-area">
        <div class="slogan">
            <span class="i-am">I am</span>
            <div class="name-profession">
                <span class="name">Ruben Schmittel</span>
                <span class="profession">Frontend Developer</span>
            </div>
        </div>
        <button class="talk-btn">Let's talk!</button>
    </div>
</section>