section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 96px 0 96px;
    margin-bottom: 120px;
    height: 100vh;
}

.introducing-area {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    

    .slogan-area {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        z-index: 1;
        
        .slogan {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 172px;
    
            .i-am {
                transform: rotate(-90deg);
                font-size: 88px;
                line-height: 108px;
                width: 208px;
                height: 83px;
                white-space: nowrap;
            }
    
            .name-profession {
                display: flex;
                flex-direction: column;
                justify-content: center;
        
                .name {
                    font-size: 128px;
                    line-height: 153.6px;
                    font-weight: 700;
                    white-space: nowrap;
                }
                
                .profession {
                    font-size: 64px;
                    line-height: 76.8px;
                    text-transform: uppercase;
                    color: #9747FF;
                }
            }
        }

        .talk-btn {
            margin-top: 72px;
            width: 165px;
            height: 58px;
            border-radius: 10px;
            padding: 15px 30px;
            font-size: 23px;
            background-color: #70E61C;
            color: #fff;
            white-space: nowrap;
            text-align: center;
            display: flex;
            align-items: center;
            cursor: pointer;
            border-style: none;
            transition: transform 100ms ease-out, background-color 100ms ease-out;
            transform-origin: top left;

            &:hover {
                transform: scale(1.16);
                background-color: #9747FF;
            }
        }
    }
}

.bottom-section {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    height: 160px;
    margin-top: 120px;
    
    .social-dividing {
        display: flex;
        align-items: center;
        width: 566px;
        height: 40px;
        margin-left: -96px;

        .dividing-line {
            height: 4px;
            width: 100px;
            background-color: #70E61C;
            border-radius: 0 4px 4px 0;
            margin-right: 32px;
        }
    
        .social-media {
            display: flex;
            color: #fff;
            font-size: 23px;
            .social-media-buttons {
                > a {
                    margin-right: 32px;
                }
            }
        }
    }

    .scroll-down {
        display: flex;
        align-items: center;
        transform: rotate(90deg);

        span {
            color: #fff;
            margin-right: 4px;
            font-size: 23px;
            white-space: nowrap;
        }

        .arrow-down {
            width: 24px;
            height: 24px;
            transform: rotate(-90deg);
            margin-top: 2px;
        }
    }
}