<section id="atf">
    <div class="background-splash-atf">
        <img class="purple-splash" src="assets/img/background/purple-shadow.png" alt="">
        <img class="blue-splash" src="assets/img/background/blue-shadow.png" alt="">
    </div>
    <div class="introducing-area">
        <div class="slogan-area">
            <div class="slogan">
                <span class="i-am" data-aos="zoom-in" data-aos-delay="900">I am</span>
                <div class="name-profession">
                    <span class="name" data-aos="fade-down" data-aos-delay="800">Ruben Schmittel</span>
                    <span class="profession" data-aos="fade-left" data-aos-delay="800">Frontend Developer</span>
                </div>
            </div>
            <button class="talk-btn"><a href="#contact">Let's talk!</a></button>
        </div>
    </div>
    <div class="bottom-section">
        <div class="social-section">
            <div class="dividing-line"></div>
            <div class="social-media">
                <div class="social-media-buttons">
                    <a href="https://github.com/Rubi007007" target="_blank"><img class="social-media-btn" src="assets/img/logo/git.svg" alt="git-logo"></a>
                    <a href="#contact"><img class="social-media-btn mail" src="assets/img/logo/mail.svg" alt="mail-logo"></a>
                    <a href="https://www.linkedin.com/in/ruben-schmittel" target="_blank"><img class="social-media-btn" src="assets/img/logo/linkedin.svg" alt="linked-in-logo"></a>
                </div>
                <a href="#contact" class="mail mail-me">ruschmittel&#64;gmx.de</a>
            </div>
        </div>
        <a href="#about-me-section"><img class="scroll-down" src="assets/img/atf/scroll-down.png" alt="scroll-down-button"></a>
    </div>
</section>