.green-shadow {
    position: absolute;
    top: 348px;
    left: -594px;
    z-index: -1;

    @media (max-width: 1300px) {
        top: 783px;
        left: -435px;
    }

    @media (max-width: 900px) {
        left: -590px;
    }

    @media (max-width: 630px) {
        left: -675px;
    }

    @media (max-width: 600px) {
        display: none;
    }
}