.purple-shadow {
    position: absolute;
    left: -432px;
    bottom: -229px;

    @media (max-width: 1300px) {
        left: -467px;
        bottom: -419px;
    }

    @media (max-width: 1000px) {
        width: 800px;
        height: auto;
        left: -215px;
        bottom: -351px;
    }

    @media (max-width: 700px) {
        width: 600px;
        left: -215px;
        bottom: -277px;
    }

    @media (max-width: 410px) {
        width: 500px;
        left: -215px;
        bottom: -277px;
    }
}