<nav id="navbar">
    <section>
        <div class="logo">
            <a href="#atf"><span>R<span class="purple">u</span>be<span class="green">n</span></span></a>
        </div>
        <div class="menu" #menu (click)="setActiveLink($event)">
            <a href="#about-me-section">{{ 'nav-aboutme' | translate }}</a>
            <a href="#skills">Skills</a>
            <a href="#portfolio">Portfolio</a>
            <button class="flag-btn" (click)="changeLanguage('en')">
                <img class="flag english" src="assets/img/navbar/english-flag.png" alt="location">
            </button>
            <button class="flag-btn" (click)="changeLanguage('de')">
                <img class="flag english" src="assets/img/navbar/german-flag.png" alt="location">
            </button>
        </div>
        <div class="mobile-menu" (click)="toggleOverlay()">
            <img src="assets/img/navbar/burger-menu.svg" alt="">
        </div>
    </section>
</nav>

<div class="mobile-overlay" *ngIf="isOverlayVisible || isClosing" [ngClass]="{ 'slide-out-left': isClosing }" data-aos="fade-left" data-aos-duration="300">
    <div class="overlay-menu">
      <a href="#about-me" (click)="closeOverlay()">About me</a>
      <a href="#skills" (click)="closeOverlay()">Skills</a>
      <a href="#portfolio" (click)="closeOverlay()">Portfolio</a>
      <div>
          <button class="flag-btn" (click)="changeLanguage('en')">
            <img class="flag english" src="assets/img/navbar/english-flag.png" alt="location">
            </button>
            <button class="flag-btn" (click)="changeLanguage('de')">
                <img class="flag english" src="assets/img/navbar/german-flag.png" alt="location">
            </button>
      </div>
    </div>
</div>