.project-separately {
    position: relative;
    max-height: 340px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 35px;
    overflow: hidden;
    z-index: 20;
    margin-top: 80px;

    @media (max-width: 1300px) {
        flex-direction: column;
        overflow: visible;
        max-height: none;
        margin-top: 0;

        .project-img {
            order: 0;
        }

        .project-description {
            order: 1;
        }
    }

    @media (max-width: 550px) {
        width: 100%;       
    }

    .project-img {
        width: 100%;
        max-width: 620px;

        @media (max-width: 1300px) {
            margin-bottom: -30px;
        }

        @media (max-width: 550px) {
            max-width: none;
            width: auto;
            margin-top: 32px;
        }

        img {
            @media (max-width: 550px) {
                width: 100%;
            }
        }
    }

    .project-description {
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        flex-direction: column;
        gap: 35px;
        width: 100%;
        max-width: 512px;

        @media (max-width: 1300px) {
            text-align: center;
        }

        .project-text {
            display: flex;
            flex-direction: column;
            gap: 15px;

            h2 {
                font-size: 32px;
                font-weight: 700;
                color: #9747FF;
            }

            .language {
                font-size: 23px;
                font-weight: 400;
                color: #70E61C;
            }

            .description {
                color: #fff;
                font-size: 16px;
                font-weight: 400;
                text-align: end;

                @media (max-width: 1300px) {
                    text-align: center;
                }
            }
        }

        .project-btns {
            display: flex;
            justify-content: flex-end;
            gap: 86px;
            width: 100%;
            text-wrap: nowrap;

            @media (max-width: 1300px) {
                justify-content: center;
            }

            @media (max-width: 550px) {
                gap: 50px;
            }

            @media (max-width: 360px) {
                gap: 24px;
            }

            .btn {
                padding: 15px 30px;
                border-radius: 10px;
                color: #fff;
                font-size: 23px;
                font-weight: 400;
                font-size: 23px;
                cursor: pointer;
                transition: 0.3s;

                &:hover {
                    background-color: #70E61C;
                }

                @media (max-width: 550px) {
                    width: 124px;
                    font-size: 16px;
                }
            }
            
            .btn-test {
                background-color: #9747FF;
                border: none;
            }

            .btn-git {
                background-color: transparent;
                border: 1px solid #70E61C;
            }
        }

    }
}