.project-separately {
    position: relative;
    max-height: 340px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 35px;
    overflow: hidden;
    z-index: 20;
    margin-top: 80px;

    .project-img {
        width: 100%;
        max-width: 620px;
    }

    .project-description {
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        flex-direction: column;
        gap: 35px;
        width: 100%;
        max-width: 512px;

        .project-text {
            display: flex;
            flex-direction: column;
            gap: 8px;

            h2 {
                font-size: 32px;
                font-weight: 700;
                color: #9747FF;
            }

            .language {
                font-size: 23px;
                font-weight: 400;
                color: #70E61C;
            }

            .description {
                color: #fff;
                font-size: 16px;
                font-weight: 400;
            }
        }

        .project-btns {
            display: flex;
            gap: 86px;
            width: 100%;
            text-wrap: nowrap;

            .btn {
                padding: 15px 30px;
                border-radius: 10px;
                color: #fff;
                font-size: 23px;
                font-weight: 400;
                font-size: 23px;
                cursor: pointer;
                transition: 0.3s;

                &:hover {
                    background-color: #70E61C;
                }
            }
            
            .btn-test {
                background-color: #9747FF;
                border: none;
            }

            .btn-git {
                background-color: transparent;
                border: 1px solid #70E61C;
            }
        }

    }
}