<section id="about-me-section">
    <div class="about-me">
        <h2>About me</h2>
        <div class="summary">
            <p>
                Hey there! I'm Simon, a frontend developer fueled by a passion for
                crafting user-friendly digital experiences. With a talent for
                problem-solving and an eye for detail, I specialize in translating complex
                ideas into elegant designs.
                <br>
                Let's connect and create something amazing
                together!
            </p>
        </div>
        <div class="points">
            <p>
                Flexible in terms of working environments, I can work effectively
                both on-site in Munich and remotely.
            </p>
            <p>
                I am open-minded and always looking for personal challenges to
                constantly improve my knowledge and skills.
            </p>
            <p>
                In my profession, programming isn't just about writing code; it's a
                creative form of problem-solving. I take pride in my ability to distill
                complex technical challenges into simple, user-friendly solutions.
                This way, I help you achieve your goals and bring your visions to life.
            </p>
        </div>
    </div>
    <div class="profile">
        <img class="profile-picture" src="assets/img/about-me/profile-pic.png" alt="">
        <img class="profile-picture-background" src="assets/img/about-me/profile-background.png" alt="">
    </div>
</section>
