<section>
    <div id="about-me-section">
        <div id="about-me" class="about-me" data-aos="fade-right" data-aos-delay="300">
            <h2>{{ 'about-me' | translate }}</h2>
            <div class="summary">
                <p>
                    {{ 'about-me-desc' | translate }}
                    <br>
                    <br>
                    {{ 'about-me-desc-first' | translate }}
                </p>
            </div>
            <div class="points">
                <table>
                    <tr>
                        <td class="icon">
                            <img src="assets/img/about-me/logo/location-icon.png" alt="location">
                        </td>
                        <td>
                            {{ 'about-me-desc-second' | translate }}
                        </td>
                    </tr>
                    <tr>
                        <td class="icon">
                            <img src="assets/img/about-me/logo/bulb-icon.png" alt="bulb">
                        </td>
                        <td>
                            {{ 'about-me-desc-third' | translate }}
                        </td>
                    </tr>
                    <tr>
                        <td class="icon">
                            <img src="assets/img/about-me/logo/puzzle-icon.png" alt="puzzle">
                        </td>
                        <td>
                            {{ 'about-me-desc-fourth' | translate }}
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="profile" data-aos="fade-up" data-aos-delay="300">
            <img class="profile-picture" src="assets/img/about-me/profile-pic.png" alt="">
            <img class="profile-picture-background" src="assets/img/about-me/profile-background.png" alt="">
        </div>
    </div>
</section>
