<section>
    <div id="about-me-section">
        <div class="about-me" data-aos="fade-right" data-aos-delay="300">
            <h2>About me</h2>
            <div class="summary">
                <p>
                    Hey there! I'm Ruben, a frontend developer fueled by a passion for
                    crafting user-friendly digital experiences. With a talent for
                    problem-solving and an eye for detail, I specialize in translating complex
                    ideas into elegant designs.
                    <br>
                    <br>
                    Let's connect and create something amazing
                    together!
                </p>
            </div>
            <div class="points">
                <table>
                    <tr>
                        <td class="icon">
                            <img src="assets/img/about-me/logo/location-icon.png" alt="location">
                        </td>
                        <td>
                            Flexible in terms of working environments, I can work effectively
                            both on-site in Siegen and remotely.
                        </td>
                    </tr>
                    <tr>
                        <td class="icon">
                            <img src="assets/img/about-me/logo/bulb-icon.png" alt="bulb">
                        </td>
                        <td>
                            I am open-minded and always looking for personal challenges to
                            constantly improve my knowledge and skills.
                        </td>
                    </tr>
                    <tr>
                        <td class="icon">
                            <img src="assets/img/about-me/logo/puzzle-icon.png" alt="puzzle">
                        </td>
                        <td>
                            In my profession, programming isn't just about writing code; it's a
                            creative form of problem-solving. I take pride in my ability to distill
                            complex technical challenges into simple, user-friendly solutions.
                            This way, I help you achieve your goals and bring your visions to life.
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="profile" data-aos="fade-up" data-aos-delay="300">
            <img class="profile-picture" src="assets/img/about-me/profile-pic.png" alt="">
            <img class="profile-picture-background" src="assets/img/about-me/profile-background.png" alt="">
        </div>
    </div>
    <img class="bg-snippet" src="assets/img/background/bg-snippet.png" alt="dividing-line-bg">
</section>
