<section id="skills">
    <div class="skill-section" data-aos="fade-right" data-aos-delay="300">
        @for (singleSkill of skillsData.skills; track singleSkill.name; let index = $index) {
            @if (index < skillsData.skills.length - 1) {
                <app-single-skill class="single-skill skill-{{index + 1}}" [skill]="singleSkill"></app-single-skill>
            }
        }
        <app-single-skill class="single-skill skill-11" [skill]="skillsData.skills[skillsData.skills.length - 1]"></app-single-skill>

    </div>
    <div class="journey">
        <div class="headline" data-aos="fade-left" data-aos-delay="300">
            <h2>Skills</h2>
            <div class="dividing-line"></div>
        </div>
        <div class="journey-text" data-aos="fade-left" data-aos-delay="300">
            <p>
                My journey has involved working on diverse projects,
                employing a range of frontend technologies and concepts.
                I am open to embracing new technologies and methodologies
                to Continously enhance my skills and stay ahead in the
                ever-evolving landscape of web development.
            </p>
            <div class="journey-subtext">
                <h3>Looking for <span>another skill</span>?</h3>
                <p>
                    Feel free to contact me. I look forward to expanding
                    on my previous knowledge.
                </p>
            </div>
        </div>
        <button class="btn">Get in touch</button>
    </div>
</section>