<section id="skills">
    <div class="skill-section skill-section-desktop" data-aos="fade-right" data-aos-delay="300">
        @for (singleSkill of skillsData.skills; track singleSkill.name; let index = $index) {
            @if (index < skillsData.skills.length - 1) {
                <app-single-skill class="single-skill skill-{{index + 1}}" [skill]="singleSkill"></app-single-skill>
            }
        }
        <app-single-skill class="single-skill skill-11" [skill]="skillsData.skills[skillsData.skills.length - 1]"></app-single-skill>

    </div>
    <div class="journey journey-desktop">
        <div class="headline" data-aos="fade-left" data-aos-delay="300">
            <h2>{{ 'skills' | translate }}</h2>
            <div class="dividing-line"></div>
        </div>
        <div class="journey-text" data-aos="fade-left" data-aos-delay="300">
            <p>
                {{ 'skills-desc' | translate }}
            </p>
            <div class="journey-subtext">
                <h3>{{ 'skills-looking' | translate }}<span>{{ 'skills-other' | translate }}</span>?</h3>
                <p>
                    {{ 'skills-other-desc' | translate }}
                </p>
            </div>
        </div>
        <a class="btn btn-desktop" href="#contact">
            <span>{{ 'get-in-touch' | translate }}</span>
        </a>
    </div>
    <app-background-green></app-background-green>

    <!-- MOBILE -->
    <div class="journey journey-mobile">
        <div class="headline" data-aos="fade-left" data-aos-delay="300">
            <h2>{{ 'skills' | translate }}</h2>
            <div class="dividing-line"></div>
        </div>
        <div class="journey-text-mobile" data-aos="fade-left" data-aos-delay="300">
            <p>
                {{ 'skills-mobile' | translate }}
            </p>
        </div>
    </div>
    <div class="skill-section skill-section-mobile" data-aos="fade-right" data-aos-delay="300">
        @for (singleSkill of skillsData.skills; track singleSkill.name; let index = $index) {
            @if (index < skillsData.skills.length - 1) {
                <app-single-skill class="single-skill skill-{{index + 1}}" [skill]="singleSkill"></app-single-skill>
            }
        }
        <app-single-skill class="single-skill skill-11" [skill]="skillsData.skills[skillsData.skills.length - 1]"></app-single-skill>

    </div>
    <div class="journey-subtext-mobile" data-aos="fade-left" data-aos-delay="300">
        <h3>{{ 'skills-looking' | translate }}<span>{{ 'skills-other' | translate }}</span>?</h3>
        <p>
            {{ 'skills-other-desc' | translate }}
        </p>
    </div>
    <a class="btn btn-mobile" href="#contact" data-aos="fade-left" data-aos-delay="300">
        <span>{{ 'get-in-touch' | translate }}</span>
    </a>
</section>