<section id="skills">
    <div class="skill-icons">
        <div class="skill-separately">
            <img src="assets/img/skills/html-icon.png" alt="html-icon">
            <span>HTML</span>
        </div>
        <div class="skill-separately">
            <img src="assets/img/skills/css-icon.png" alt="css-icon">
            <span>CSS</span>
        </div>
        <div class="skill-separately">
            <img src="assets/img/skills/js-icon.png" alt="javascript-icon">
            <span>JavaScript</span>
        </div>
        <div class="skill-separately">
            <img src="assets/img/skills/ts-icon.png" alt="typescript-icon">
            <span>TypeScript</span>
        </div>
    </div>
</section>