section {
    max-width: 1920px;
    position: relative;
    z-index: 10;
    margin-top: 125px;
    margin-bottom: 160px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (max-width: 1300px) {
        flex-direction: column;

        .skill-section {
            order: 1;
        }

        .journey {
            order: 0;
        }
    }
    
    .skill-section {
        display: flex;
        justify-content: flex-start;
        gap: 80px;
        max-width: 665px;
        max-height: 665px;
        flex-wrap: wrap;
        padding: 0 0 0 100px;
    }
    
    .shadow {
        position: absolute;
        left: 0;
        bottom: -730px;
        // z-index: 20;
    }
}

.single-skill{
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 85px;
}

.single-skill:nth-last-child(1) {
    flex-basis: 100%;
    justify-content: flex-start;
}

.journey {
    width: 560px;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    
    .headline {
        h2 {
            color: #fff;
            font-size: 90px;
            line-height: 108px;
            font-weight: 700;
        }
        
        display: flex;
        justify-content: flex-end;
        align-items: center;
        position: relative;

        .dividing-line {
            background-color: #1CDAE6;
            height: 4px;
            width: 287px;
            border-top-left-radius: 4px;
            border-bottom-left-radius: 4px;
            margin-left: 32px;
        }
    }

    .journey-text {
        color: #fff;
        margin-top: 40px;
        margin-right: 90px;
        
        p {
            font-size: 16px;
            font-weight: 400;
            line-height: 19.2px;
        }

        .journey-subtext {
            margin-top: 40px;
            
            h3 {
                font-size: 32px;
                line-height: 38.4px;
                font-weight: 700;

                span {
                    color: #9747FF;
                }
            }

            p {
                margin-top: 16px;
            }
        }
    }

    .btn {
        margin-top: 72px;
        width: 200px;
        height: 58px;
        border-radius: 10px;
        padding: 15px 30px;
        font-size: 23px;
        background-color: #70E61C;
        color: #fff;
        white-space: nowrap;
        text-align: center;
        display: flex;
        align-items: center;
        cursor: pointer;
        border-style: none;
        transition: transform 100ms ease-out, background-color 100ms ease-out;
        transform-origin: top left;
    
        &:hover {
            transform: scale(1.16);
            background-color: #9747FF;
        }
    }
}