section {
    color: #fff;
    padding: 40px 100px 100px 100px;

    .links {
        text-decoration: none;
        color: #70E61C;
        transition: 0.3s;
        
        &:hover {
            color: #9747FF;
        }
    }

    .br {
        display: none;

        @media (max-width: 350px) {
            display: block;
        }
    }

    @media (max-width: 700px) {
        padding: 40px 24px 100px 24px;
    }

    @media (max-width: 350px) {
        .subheadline {
            font-size: 1.17em;
        }
    }
}