<section id="privacy-police" class="menu-container menu-container-privacy">
    <div class="wrapper">
        <h2 class="subheadline subheadline-impressum">{{ 'privacy-policy-lang.headline' | translate }}</h2>
        <br>
        <br>
        <div class="whole-text">
            <h3 class="subSubheader">{{ 'privacy-policy-lang.first' | translate }}</h3>
        
            <br>
        
            <h4 class="textHeader head">{{ 'privacy-policy-lang.second' | translate }}</h4>
            <br>
            <p>
                {{ 'privacy-policy-lang.third' | translate }}
            </p>
            <br>
            <h4 class="textHeader head">{{ 'privacy-policy-lang.fourth' | translate }}</h4>
            <br>
            <h5 class="textHeader paraHead">
                {{ 'privacy-policy-lang.fifth' | translate }}
            </h5>
            <br>
            <p>
                {{ 'privacy-policy-lang.sixth' | translate }}
            </p>
            <br>
            <h5 class="textHeader paraHead">{{ 'privacy-policy-lang.seventh' | translate }}</h5>
            <br>
            <p>
                {{ 'privacy-policy-lang.eighth' | translate }}
            </p><br>
            <p>
                {{ 'privacy-policy-lang.ninth' | translate }}
            </p>
            <br>
            <h5 class="textHeader paraHead">{{ 'privacy-policy-lang.tenth' | translate }}</h5>
            <br>
            <p>
                {{ 'privacy-policy-lang.eleventh' | translate }}
            </p>
            <br>
            <h5 class="textHeader paraHead">{{ 'privacy-policy-lang.twelfth' | translate }}</h5>
            <br>
            <p>
                {{ 'privacy-policy-lang.thirteenth' | translate }}
            </p><br>
            <p>
                {{ 'privacy-policy-lang.fourteenth' | translate }}
            </p>
            <br>
            <h4 class="textHeader head">{{ 'privacy-policy-lang.fifteenth' | translate }}</h4>
            <br>
            <p>
                {{ 'privacy-policy-lang.sixteenth' | translate }}
            </p><br>
            <p>
                {{ 'privacy-policy-lang.seventeenth' | translate }}
            </p>
            <br>
            <h3 class="subSubheader">{{ 'privacy-policy-lang.eighteenth' | translate }}</h3>
            <br>
            <p>{{ 'privacy-policy-lang.nineteenth' | translate }}</p>
            <br>
            <h4 class="textHeader head">{{ 'privacy-policy-lang.twentieth' | translate }}</h4>
            <br>
            <p>
                {{ 'privacy-policy-lang.twenty-first' | translate }}
            </p><br>
            <p>
                {{ 'privacy-policy-lang.twenty-second' | translate }}
            </p><br>
        
            <h3 class="subSubheader">{{ 'privacy-policy-lang.twenty-third' | translate }}</h3>
            <br>
            <h4 class="textHeader head">{{ 'privacy-policy-lang.twenty-fourth' | translate }}</h4>
            <br>
            <p>
                {{ 'privacy-policy-lang.twenty-fifth' | translate }}
            </p><br>
            <p>
                {{ 'privacy-policy-lang.twenty-sixth' | translate }}
            </p><br>
            <p>
                {{ 'privacy-policy-lang.twenty-seventh' | translate }}
            </p>
            <br>
            <h4 class="textHeader head">{{ 'privacy-policy-lang.twenty-eighth' | translate }}</h4>
            <br>
            <p>
                {{ 'privacy-policy-lang.twenty-ninth' | translate }}
            </p><br>
            <p>
                Ruben Julius Schmittel<br>
                Am Köppel 33,<br>
                57072 Siegen
            </p><br>
            <p>
                {{ 'privacy-policy-lang.thirtieth' | translate }}
            </p>
            <br>
            <h3 class="subSubheader">{{ 'privacy-policy-lang.thirtyfirst' | translate }}</h3>
            <br>
            <p>
                {{ 'privacy-policy-lang.thirtysecond' | translate }}
            </p>
            <br>
            <h4 class="textHeader head">
                {{ 'privacy-policy-lang.thirtythird' | translate }}
            </h4>
            <br>
            <p>
                {{ 'privacy-policy-lang.thirtyfourth' | translate }}
            </p>
            <br>
            <h4 class="textHeader head">{{ 'privacy-policy-lang.thirtyfifth' | translate }}</h4>
            <br>
            <p>
                {{ 'privacy-policy-lang.thirtysixth' | translate }}
            </p>
            <br>
            <h4 class="textHeader head">{{ 'privacy-policy-lang.thirtyseventh' | translate }}</h4>
            <br>
            <p>
                {{ 'privacy-policy-lang.thirtyeighth' | translate }}
            </p>
            <br>
            <h4 class="textHeader head">
                {{ 'privacy-policy-lang.thirtyninth' | translate }}
            </h4>
            <br>
            <p>
                {{ 'privacy-policy-lang.fortieth' | translate }}
            </p><br>
            <p>
                {{ 'privacy-policy-lang.fortyfirst' | translate }}
            </p>
            <br>
            <h4 class="textHeader head">
                {{ 'privacy-policy-lang.fortysecond' | translate }}
            </h4>
            <br>
            <p>
                {{ 'privacy-policy-lang.fortythird' | translate }}
            </p>
            <br>
            <h4 class="textHeader head">{{ 'privacy-policy-lang.fortyfourth' | translate }}</h4>
            <br>
            <p>
                {{ 'privacy-policy-lang.fortyfifth' | translate }}
            </p>
            <br>
            <h4 class="textHeader head">{{ 'privacy-policy-lang.fortysixth' | translate }}</h4>
            <br>
            <p>
                {{ 'privacy-policy-lang.fortyseventh' | translate }}
            </p>
            <br>
            <h4 class="textHeader head">{{ 'privacy-policy-lang.fortyeighth' | translate }}</h4>
            <br>
            <p>
                {{ 'privacy-policy-lang.fortyninth' | translate }}
            </p>
            <br>
            <ul class="list">
                <li>
                    {{ 'privacy-policy-lang.fiftieth' | translate }}
                </li>
                <li>
                    {{ 'privacy-policy-lang.fiftyfirst' | translate }}
                </li>
                <li>
                    {{ 'privacy-policy-lang.fiftysecond' | translate }}
                </li>
                <li>
                    {{ 'privacy-policy-lang.fiftythird' | translate }}
                </li>
            </ul>
            <br>
            <p>
                {{ 'privacy-policy-lang.fiftyfourth' | translate }}
            </p>
            <br>
            <h3 class="subSubheader">{{ 'privacy-policy-lang.fiftyfifth' | translate }}</h3>
            <br>
            <h4 class="textHeader head">{{ 'privacy-policy-lang.fiftysixth' | translate }}</h4>
            <br>
            <p>
                {{ 'privacy-policy-lang.fiftyseventh' | translate }}
            </p><br>
            <p>
                {{ 'privacy-policy-lang.fiftyeighth' | translate }}
            </p><br>
            <p>
                {{ 'privacy-policy-lang.fiftyninth' | translate }}
            </p><br>
            <p>
                {{ 'privacy-policy-lang.sixtieth' | translate }}
            </p><br>
            <p>
                {{ 'privacy-policy-lang.sixtyfirst' | translate }}
            </p><br>
            <p>
                {{ 'privacy-policy-lang.sixtysecond' | translate }}
            </p>
            <br>
            <p class="source">
                {{ 'privacy-policy-lang.sixtythird' | translate }} <br class="br">
                <a target="blank" class="links" href="https://www.e-recht24.de">https://www.e-recht24.de</a>
            </p>
        </div>
    </div>
</section>