<section id="impressum" class="menu-container">
    <div class="wrapper">
        <h2>{{ 'imprint-lang.headline' | translate }}</h2>
        
        <br>
        <br>
        <h3 class="subheadline-address">{{ 'imprint-lang.first' | translate }}</h3>
        <p class="address">Ruben Julius Schmittel</p>
        <p class="address">Am Köppel 33</p>
        <p class="address">57072 Siegen</p>
        <br>
        <br>
        
        <h3 class="subheadline-address">{{ 'imprint-lang.second' | translate }}</h3>
        <p class="address">{{ 'imprint-lang.third' | translate }}: +49 171 / 56473139</p>
        <p class="address">E-Mail: ruschmittel&#64;gmx.de</p>
        <br>
        <br>
        <h3 class="subheadline-address">{{ 'imprint-lang.fourth' | translate }}</h3>
        <p class="address">Ruben Julius Schmittel</p>
        <p class="address">Am Köppel 33</p>
        <p class="address">57072 Siegen</p>
        <br>
        <br>
        <div class="privacy-police-external">
            <p class="privacy-police">{{ 'imprint-lang.fifth' | translate }}<a routerLink="/privacy-policy">{{ 'imprint-lang.sixth' | translate }}</a>.</p>
        </div>
    </div>
</section>