<footer>
    <div class="logo-legal-notice">
        <span class="logo">R<span class="purple">u</span>be<span class="green">n</span></span>
        <span class="legal-notice">Legal Notice</span>
    </div>
    <div class="credits">
        © Ruben Schmittel 2024
    </div>
    <div class="social-media">
        <a href="#" target="_blank"><img class="social-media-btn" src="assets/img/logo/git.png" alt="git-logo"></a>
        <a href="www.google.com" target="_blank"><img class="social-media-btn mail" src="assets/img/logo/mail.png" alt="mail-logo"></a>
        <a href="www.linkedin.com/in/ruben-schmittel" target="_blank"><img class="social-media-btn" src="assets/img/logo/linkedin.png" alt="linked-in-logo"></a>
    </div>
</footer>