<section id="portfolio">
    <div class="head-section">
        <div class="header" data-aos="fade-left" data-aos-delay="300"> <!---->
            <div class="headline-text">
                <div class="dividing-line-left"></div>
                <h2>Portfolio</h2>
                <div class="dividing-line-right"></div>
            </div>
            <p>
                Explore a selection of my work here - <br class="text-break">
                Interact with projects to see my skills in action.
            </p>
        </div>
    </div>
    <div class="projects">
        @for (singleProject of projectsData.projects; track singleProject.name; let index = $index) {
            @if (index % 2 === 0) {
                <app-single-project class="single-project project-{{index + 1}}" [project]="singleProject"></app-single-project>
            }
        }
        
        @for (singleProject of projectsData.projects; track singleProject.name; let index = $index) {
            @if (index % 2 === 1) {
                <app-single-project-mirrored class="single-project project-{{index + 1}}" [project]="singleProject"></app-single-project-mirrored>
            }
        }
    </div>
</section>