<section id="portfolio">
    <div class="head-section">
        <div class="header" data-aos="fade-left" data-aos-delay="300">
            <div class="headline-text">
                <div class="dividing-line-left"></div>
                <h2>Portfolio</h2>
                <div class="dividing-line-right"></div>
            </div>
        </div>
    </div>
    <p data-aos="fade-left" data-aos-delay="300">
        {{ 'portfolio-desc' | translate }} <br>
        {{ 'portfolio-desc-second' | translate }}
    </p>
    <div class="projects">
        @for (singleProject of projectsData.projects; track singleProject.name; let index = $index) {
            @if (index % 2 === 0) {
                <app-single-project class="single-project project-{{index + 1}}" [project]="singleProject"></app-single-project>
            }
        }
        
        @for (singleProject of projectsData.projects; track singleProject.name; let index = $index) {
            @if (index % 2 === 1) {
                <app-single-project-mirrored class="single-project project-{{index + 1}}" [project]="singleProject"></app-single-project-mirrored>
            }
        }
    </div>
</section>